.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  background: grey;
  font-weight: bold;
  display: inline-block;
  margin-left: 5px;
  color: white;
}

.toolTip {
  display: inline-block !important;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #fff;
  color: black;
  text-align: center;
  border-radius: 6px;
  border: 5px solid grey;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 103%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent grey transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.form-field-set {
  border: none !important;
}

#comments {
  resize: none;
}

.subHeadings {
  font-size: 30px !important;
}

.form fieldset {
  margin-bottom: 0 !important;
  padding: 0 !important;
}

@media only screen and (max-width: 600px) {
  #comments {
    resize: none;
    width: 100% !important;
  }
  .browseButton {
    width: 50% !important;
  }
}

@media (min-width: 670px) {
  .form .selectField .control-group .control-label,
  .form .textField .control-group .control-label {
    min-width: 275px !important;
  }

  .comments {
    margin-bottom: 10px;
  }
}
